.auth-form {
  .ant-form-item {
    &-control {
      &-input {
        input[type="text"],
        input[type="password"] {
          border-radius: 0;
        }

        input[type="text"] {
          height: 2.5rem;
        }

        .ant-input-password {
          border-radius: 0;
          height: 2.5rem;

          input[type="password"] {
            height: 100%;
          }
        }
      }
    }
  }

  button {
    background-color: $primaryColor;
    color: $text-color;
    padding: 0.5rem 1rem;
    border-radius: 0;
    height: fit-content;
    width: fit-content;
  }
}
// input {
//   border-radius: 0 !important;
// }
